body {
  margin: 0px;
}

nav {
  background: #eee;
  display: flex;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: darkgray;
}

.active {
  background-color: lightgray;
}


@font-face {
  font-family: starJedi;
  src: url(./Rebellion-oPoA.ttf) format('truetype');
}

h1 {
  font-family: starJedi;
  letter-spacing: .2rem;
}


table {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  max-width: 100%;
  background-color: white;
  color: black;
}

table td,
table th {
  padding: 8px;
}

table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

table thead th {
  font-family: 'starJedi';
  font-size: large;
  letter-spacing: .2rem;
  color: #ffffff;
  background: #4FC3A1;
}

table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

table tr:nth-child(even) {
  background: #F8F8F8;
}