body,
html {
  margin: 8px;
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2 {
  font-family: consolas;
}

h1 {
  text-align: center;
  font-size: xxx-large;
  color: white;
  text-shadow: -10 10 10px #9c27b0, -10 0 20px #9c27b0, -10 0 30px #9c27b0, -10 0 40px #9c27b0;

}

table {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  max-width: 100%;
  background-color: white;
  color: black;
  width: 100%;
  margin-top: 20px;
}

table td,
table th {
  padding: 8px;
}

th {
  color: #ffffff;
  background: #324960;
  font-size: x-large;
  margin: auto;
}


table td {
  font-size: large;
}

table tr:nth-child(even) {
  background: #eeeeee;

}

table td:nth-child(1) {
  white-space: nowrap;
}

table a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.viewports {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  height: 100vh;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  margin: auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 5px solid #324960;
  border-top-color: #ffffff;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  align-items: center;
}


h2 {
  display: inline-block;
  margin-right: 32px;
}

input {
  font-size: 16px;
}

button {
  font-size: 16px;
  font-weight: 400;
}