star-wars-persons {
    background-color: black;
    color: lightgrey;
    display: block;
    height: calc(100vh - 39px - 2 * 1rem);
    overflow-y: hidden;
    padding: 1rem;
}

@font-face {
    font-family: starJedi;
    src: url(./../../Rebellion-oPoA.ttf) format('truetype');
}

star-wars-persons h1 {
    font-family: starJedi;
}