<fieldset>
  <legend>Rate your fandom, ${name}!</legend>

  <div>
    <input type="radio" id="q1" name="group" value="0" checked.bind="answer" />
    <label for="q1">Brisky Morning Munchy.</label>
  </div>

  <div>
    <input type="radio" id="q2" name="group" value="1" checked.bind="answer" />
    <label for="q2">And I Thought They Smelled Bad On The Outside!</label>
  </div>

  <div>
    <input type="radio" id="q3" name="group" value="2" checked.bind="answer" />
    <label for="q3">Come On, Baby! Do The Magic Hand Thing.</label>
  </div>
</fieldset>

<div textcontent.bind="verdict"></div>
