star-wars {
    display: block;
    background-color: black;
    color: lightgrey;
    padding: 1rem;
    height: calc(100vh - 39px - 2 * 1rem);
    font-size: large;
}

@font-face {
    font-family: starJedi;
    src: url(./../../Rebellion-oPoA.ttf) format('truetype');
}

star-wars h1 {
    font-family: starJedi;
}