<h2>Character Browser</h2>

<div>
  <label for="name">Choose an id between 1 and 83</label>
  <input autocomplete="off" type="text" value.bind="id" />
  <button click.trigger="getPerson(id)">Search</button>
</div>

<table if.bind="person">
  <tbody>
    <tr repeat.for="attr of person | keys">
      <td if.bind="!$first">${attr | capitalize}</td>
      <td colspan.bind="$first?'2':'1'" table-header.class="$first">
        <div if.bind="!isArray(person[attr])">${person[attr] | stringify}</div>
        <div else repeat.for="link of person[attr]">
          <a load="../details-view(${link})@details">${link}</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
