<div class="header">
  <h2>
    <label>Character Search</label>
  </h2>
  <span>
    <input
      type="number"
      value.bind="id"
      placeholder="1 - 83"
      min="1"
      max="83"
    />
    <button click.trigger="getPerson(id)">Search</button>
  </span>
</div>

<div class="container" if.bind="fetchingdata">
  <div class="spinner"></div>
</div>

<table if.bind="person && !fetchingdata">
  <thead>
    <tr>
      <th colspan="2">${person['name']}</th>
    </tr>
  </thead>

  <tbody>
    <tr repeat.for="attr of person | keys">
      <td if.bind="!$first">${attr | capitalize}</td>

      <td if.bind="!$first">
        <div if.bind="!isArray(person[attr])">
          <template if.bind="person[attr].startsWith('https://')">
            <a load="../details-view(${person[attr]})@details">
              ${person[attr]}
            </a>
          </template>
          <template else> ${person[attr] | stringify} </template>
        </div>
        <div else repeat.for="link of person[attr]">
          <a load="../details-view(${link})@details">${link}</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
