<div>
  <h2>
    <label for="character-id">Search for a character</label>
  </h2>
  <input
    id="character-id"
    autocomplete="off"
    type="number"
    value.bind="id"
    placeholder="1 - 83"
    min="1"
    max="83"
  />
  <button click.trigger="getPerson(id)">Search</button>
</div>

<div class="spinner" if.bind="fetchingdata"></div>

<table if.bind="person && !fetchingdata">
  <tbody>
    <tr repeat.for="attr of person | keys">
      <td if.bind="!$first">${attr | capitalize}</td>
      <td colspan.bind="$first?'2':'1'" table-header.class="$first">
        <div if.bind="!isArray(person[attr])">${person[attr] | stringify}</div>
        <div else repeat.for="link of person[attr]">
          <a load="../details-view(${link})@details">${link}</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
