<div>
  <label for="name">Guess an id between 1 and 83</label>
  <input
    autocomplete="off"
    type="text"
    name="name"
    id="name"
    value.bind="name"
  />
  <button click.trigger="getPerson(name)">Search</button>
</div>

<div if.bind="person" class="container">
  <table>
    <thead>
      <tr>
        <th colspan="2">${person.name}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Birth Year</td>
        <td>${person.birth_year}</td>
      </tr>
      <tr>
        <td>Eye Color</td>
        <td>${person.eye_color}</td>
      </tr>
      <tr>
        <td>Films</td>
        <td class="multiple">
          <span repeat.for="film of person.films">
            <span promise.bind="getFilmTitle(film)">
              <let title.bind="null" err.bind="null"></let>
              <span pending>Fetching title...</span>
              <span then.from-view="title" class="title">${title}</span>
              <span catch.from-view="err">Error?!</span>
            </span>
          </span>
        </td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>${person.gender}</td>
      </tr>
      <tr>
        <td>Height</td>
        <td>${person.height}cm</td>
      </tr>
      <tr>
        <td>Homeworld</td>
        <td>${person.homeworld}</td>
      </tr>
      <tr>
        <td>Mass</td>
        <td>${person.mass}kg</td>
      </tr>
      <tr>
        <td>Skin Color</td>
        <td>${person.skin_color}</td>
      </tr>
      <tr>
        <td>Species</td>
        <td>${person.species}</td>
      </tr>
      <tr>
        <td>Starships</td>
        <td class="multiple">
          <span repeat.for="ship of person.starships"> ${ship} </span>
        </td>
      </tr>
      <tr>
        <td>Url</td>
        <td>${person.url}</td>
      </tr>
      <tr>
        <td>Vehicles</td>
        <td>${person.vehicles}</td>
      </tr>
    </tbody>
  </table>
</div>
